body {
  background-color: lightslategrey;
  margin: auto;
  width: 50%;
  border: 4px solid gray;
}

h1 {
  background-color: darkgray;
   height: 35px;
  color: black;
  border: 2px solid gray;
  padding-top: 20px;
}

nav {
  position: relative;
  bottom: 24px;
  background-color: darkgray;
  border: 2px solid gray;
  font-size: x-large;
}

#pro-pic {
  float: right;
}

main {
  font-size: larger;
}